@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lucida Grande';
  src: url('./fonts/Lucida\ Grande\ Regular.ttf');
}

.body {
  color-scheme: light;
}

.font-Lucida {
  font-family: 'Lucida Grande';
}

.login-form-box {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #babbbb;
  border-radius: 5px;
}

.current-border {
  border: 1px solid #ced0d1;
}

.border-primary {
  border: 1px solid #09f;
}

.border-light {
  border: 1px solid #d3d3d3;
}

.close-register-modal-button {
  background-color: white;
  border: 1px solid #ced0d1;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 8px;
  border-radius: 6px;

  &:hover {
    border: 1px solid rgb(255, 94, 94);
    color: rgb(255, 94, 94);
  }
}
